---
layout: layout
title: "Books"
blog: books
pageable: true
per_page: 10

---

<div class="page-header">
  <h1>Book Reviews <br/><small>“When I look back, I am so impressed again with the life-giving power of literature. If I were a young person today, trying to gain a sense of myself in the world, I would do that again by reading, just as I did when I was young.” <br/>— Maya Angelou</small></h1>
</div>

<div class="container-fluid">
  <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>

      <% if prev_page %>
          <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
  <% end %>

  <% page_articles.each_with_index do |article, i| %>
      <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title"><%= link_to article.title, article %> </h3></div>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <div class="panel-body"><span><%= article.date.strftime('%a %x') %></span><br/><%= article.summary(400) %><%= link_to "Read More", article %></div>
      </div>

  <% end %>

  <% if paginate %>
      <% if next_page %>
          <p><%= link_to 'Next page', next_page %></p>
      <% end %>
  <% end %>
</div>