---
layout: layout
blog: coding
title: "Coding"
pageable: true
per_page: 10

---
<div class="blog-body">
<div class="page-header">
  <h1>Coding <br/><small>From then on, when anything went wrong with a computer, we said it had bugs in it.<br/>- Rear Admiral Grace Murray Hopper</small></h1>
</div>


  <% page_articles.each_with_index do |article, i| %>
      <div class="article">
         <h1 class="article--title"><%= link_to article.title, article %> </h1>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <div class="article--date"><%= article.date.strftime('%a %x') %></div><br/><div class="article--text"><%= article.summary(400) %><%= link_to "Read More", article %></div>
      </div>

  <% end %>

  <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>

      <% if prev_page %>
          <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
  <% end %>
  <% if paginate %>
      <% if next_page %>
          <p><%= link_to 'Next page', next_page %></p>
      <% end %>
  <% end %>
</div>
</div>