<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="Dax Murray" name="Dax Murray">
    <meta name="description" content="Dax Murray's book, coding, and other thoughts" />

    <!-- Facebook -->
    <meta property="og:title" content="Dax Murray" />
    <meta property="og:description" content="Dax Murray's book, coding, and other thoughts" />
    <meta property="og:url" content="http://www.daxmurray.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dax Murray" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:site" content="@DaxAeterna">
    <meta name="twitter:site:id" content="">
    <meta name="twitter:creator" content="@DaxAeterna">
    <meta name="twitter:title" content="Dax Murray">
    <meta name="twitter:description" content="Dax Murray's book, coding, and other thoughts">
    <meta name="twitter:image" content="">

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascripts/slicknav.js"></script>
    <script src="javascripts/show_nav.js"></script>
    <title>Dax: Books, Coding, Feminism<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div id="main" role="main">
      <%= partial "navbar" %>
      <div class="mobile-nav">
        <%= partial "mobile_nav" %>
      </div>
      <%= partial "mobile_links" %>

        <div>
          <%= yield %>
        </div>
        <div>
          <%= partial "side_bar" %>
        </div>


    </div>

  </body>
</html>
